* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Obecný header */
header {
  height: 85px;
  display: flex;
  position: fixed;    /* drží se nahoře */
  top: 0;             /* přilepený k hornímu okraji */
  left: 0;
  right: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  margin-bottom: 20px;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 2vw; /* mezera mezi logem a navigací */
}

.header-right {
  display: flex;
  align-items: center;
  gap: 30px; /* mezera mezi vyhledáváním a tlačítkem */
}

/* Logo */
.header-logo img {
  height: 85px; 
  width: auto;
}

/* Navigace */
.header-nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  flex: 1;
}

.header-nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s;
  margin: 0 clamp(0.25rem, 1vw, 1rem);
}

.header-nav ul li a:hover {
  color: #c00;
}



/* Call-to-Action tlačítko */
.call-button {
  display: inline-block;
  text-align: center;
  background-color: #e60000;
  color: #fff;
  border-radius: 25px;
  padding: 0px 10px;
  width: 220px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.call-button:hover {
  background-color: #cc0000;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  z-index: 3000;
}

.hamburger img {
  width: 32px;
  height: 32px;
}

/* Mobilní menu */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 6px rgba(0,0,0,0.15);
  z-index: 2000;
  transition: right 0.4s ease-in-out;
  padding: 20px;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.mobile-menu .close-btn img {
  width: 32px;
  height: 32px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 80px 0 0 0; /* posuneme pod křížek */
  text-align: center;
}

.mobile-menu ul li {
  margin: 20px 0;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}

.mobile-menu .call-button {
  font-size: 20px;
  margin-top: 30px;
  display: inline-block;
  background-color: #e60000;
  color: #fff;
  border-radius: 25px;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Responzivní nastavení */
@media (max-width: 880px) {
  .header-nav,
  .header-right {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

