html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin-top: 100px;
}

#contact {
  display: flex;
  flex-direction: rows;
  gap: 100px;
  margin-bottom: 50px;
}

.contact-title {
  text-align: center;
  margin-bottom: 40px;
}

.contact-title h2 {
  font-size: 45px;
  font-weight: 700;
}

.contact-location {
  flex: 1;
  padding-left: 10vw;
}

.contact-location p, .contact-us p {
  margin-bottom: 10px;
  font-size: 20px;
}

.pobocka-location {
  width: 100%;
}

iframe {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
}

iframe, .oteviraci-doba {
  margin-top: 60px;
}

.contact-us {
  flex: 1;
}

.contact-location h2, .contact-us h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(19, 125, 44, 1)
}

.pobocka-gallery {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pobocka-item img{
  width: 200px;
  height: 100px;
}


/* tabulka */
.oteviraci-doba {
  width: 430px;
  height: 300px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  overflow: hidden;
}

.oteviraci-doba th {
  background-color: #FF0000;
  padding: 10px;
  text-align: left;
}

.oteviraci-doba td {
  padding: 8px 15px;
}

.oteviraci-doba tr:nth-child(odd) td {
  background-color: #4BA360;
}

.oteviraci-doba tr:nth-child(even) td {
  background-color: #2B8624;
}

@media (max-width: 768px) {
  #contact {
    flex-direction: column;
    width: 100vw;
    padding: 0 10px;
  }

  .contact-location {
    padding-left: 0;
  }

  .contact-location iframe {
    width: 100%;
  }

  .contact-us .oteviraci-doba {
    width: 100%;
    font-size: 19px;
  }

  .pobocka-location {
    width: 95vw;
  }

  .pobocka-item img{
  width: 110px;
  height: 60px;
}
}