html, body {
  height: 100%;
  margin: 0;
}

body { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Sekce podlahy navigace */
.product-title {
  text-align: center;
  font-size: 30px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 tlačítka v řádku */
  gap: 30px; /* mezery mezi tlačítky */
  max-width: 1000px;
  margin: 20px auto; /* vycentrování na stránce */
  margin-top: 0;
  padding: 10px;
}

.product-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
}

.product-button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.product-button span {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 5px 20px;
}

.product-button:hover {
  background: #e0e0e0;
  transform: translateY(-2px);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding:  40px 120px;
  gap: 30px;
  margin-bottom: 20px;
}

.left {
  flex: 1;
  margin-right: 20px;
}

.right {
  flex: 1;
  margin-left: 20px;
}

.left h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.left p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.right {
  text-align: center;
}



