* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
}
main {
  flex-grow: 1;
}


/* Sekce podlahy navigace */
.product-title {
  text-align: center;
  font-size: 30px;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 tlačítka v řádku */
  gap: 30px;
  /* mezery mezi tlačítky */
  max-width: 1000px;
  margin: 20px auto;
  /* vycentrování na stránce */
  margin-top: 0;
  padding: 10px;
}

.product-button {
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  border: 1px solid #ccc;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s, transform 0.2s;
}

.product-button img {
  width: 55px;
  height: 55px;
  object-fit: cover;
}

.product-button span {
  flex-grow: 1;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  padding: 5px 20px;
  color: black !important;
}

.product-button:hover {
  background: #e0e0e0;
  transform: translateY(-2px);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 120px;
  gap: 30px;
  margin-bottom: 20px;
}

.left {
  flex: 1;
  margin-right: 20px;
}

.right {
  flex: 1;
  margin-left: 20px;
}

.left h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

.left p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.left h3 {
  margin-bottom: 5px;
}

.left ul {
  padding-left: 20px;
}

.left li {
  font-size: 16px;
  line-height: 1.4;

}

.right {
  text-align: center;
}

.right img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    width: 100vw;
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-button span {
    padding: 0 8px;
  }

  #productContent {
    padding: 30px;
  }

  .left {
    align-items: center;
  }

  #productContent .left h2 {
    text-align: center;
    font-size: 28px;
  }

  .left p {
    margin-bottom: 40px;
  }

  .left ul {
    text-align: start;
  }

  .right {
    margin-left: 0;
  }

  .right img {
    align-items: center;
  }
}